@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root, .container {
  min-width: 100vw;
  height: 100%;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.login-container form {
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.content {
  display: flex;
  height: calc(100% - 98px);
  width: 100%;
}

.tabs {
  width: 150px;
  height: 100%;
  background-color: #61dafb;
}

.datas {
  width: 100%;
  height: 100%;
  background-color: blue;
}
